!!!
%html
  %head
    %title how to...
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => 'index' }
    .container
      .container-fluid.row-fluid
        .head
          = render :partial => "topbar"
      .container-fluid.row-fluid
        .content
          .sidebar.visible-desktop
            = render :partial => "how_to/sidebar"
          .main.span8
            = yield
          .clearfix
      .container-fluid.row-fluid
        %foot
          = render :partial => "foot"
