!!!
%html
  %head
    %title how to...
    = stylesheet_link_tag    "mypage"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => 'mypage' }
    .head
      = render :partial => "topbar"
    .container.row-fluid
      .sidebar.visible-desktop
        = render :partial => "mypage/sidebar"
      .main.span7
        = yield
    %foot
      = render :partial => "foot"
